.UsersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 45vw; */
    /* margin: 3rem 0; */
}


.edit_form {
    width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.edit_form h2 {
    font-weight: 550;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_form h2 .icon {
    margin-right: 10px;
}

.edit_form input {
    margin-bottom: 1.5rem;
    padding: 10px 0;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #545353;
    outline: none;
}

.isAdmin_ {
    font-size: 1.1rem;
}

.isAdmin_ span {
    margin-left: 10px;
}

.update {
    background-color: #18273a;
    padding: 7px 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 0 0 0;
    outline: none;
}

.update:hover {
    background-color: #030e21;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .edit_form {
        width: 85vw;
        margin: 3rem auto;
    }

    h2 {
        font-size: 2.2rem;
    }

    .head {
        margin-bottom: 10px;
    }

    input {
        font-size: 1.6rem;
    }

    #update {
        padding: 13px 0;
        font-size: 1.7rem;
    }

    .form .info {
        font-size: 1.7rem;
    }


}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .signup_container {
        width: 80vw;
        margin: 3rem auto;
    }

    h2 {
        font-size: 2rem;
    }

    .head {
        margin-bottom: 10px;
    }

    input {
        font-size: 1.4rem;
    }

    #update {
        padding: 10px 0;
        font-size: 1.4rem;
    }

    .form .info {
        font-size: 1.4rem;
    }

}