.search {
    display: flex;
    flex: 1;
    /* width: 100%; */
    height: 2.2rem;
    align-items: flex-start;
    /* justify-content: center; */
    /* background-color: red; */
    margin: 0 20px;
}

.search input {
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    /* height: 2.5rem; */
    padding: 8px 10px;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
}

.search .search_btn {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    height: 100%;
    cursor: pointer;
}

.search .icon {
    background-color: #9a930d;
    color: black;
    padding: 5px;
    font-size: 1.3rem;
    height: 100%;
    width: 2.4rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}