
.slider_container {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-between;
    /* background-color: #272E37; */
    background-image: linear-gradient(to bottom,#1F2A3A, #3B4454, #6F7885, #A3A8B1, #F6F6F6), url('../../../public/assets/bg.png');
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}

.slider_container .container {
    width: 100%;
}


.arrow {
    position: absolute;
    top: -6rem;
    bottom: 0;
    margin: auto;
    background-color: #e9e9e9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    opacity: 0.1;
    transition: 0.3s ease-in;
}

.arrow:hover {
    opacity: 0.4;
}

.arrow2 {
    right: 30px;
}


.arrow1 {
    left: 15px;
    z-index: 2;
}

.arrow_icon {
    font-size: 2.5rem;
}

.social {
    position: absolute;
    bottom: 15rem;
    left: 15px;
    z-index: 50%;
    /* display: none; */
}

.social ul {
    list-style: none;
}

.social ul li {
    margin-top: 10px;
}

.social ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

/* .slider_contents {
    
} */

.slide {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.contents {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.content {
    margin-top: 8rem;
    color: white;
}

.content .title1 {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 550;
    letter-spacing: 2px;
}

.content .title2 {
    font-size: 3rem;
    font-weight: 550;
    letter-spacing: 2px;
}

.content .price {
    font-size: 2rem;
    font-weight: 550;
    color: #b6e394ed;
}

.content .des {
    margin: 1rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 40rem;
    border: none;
}

.cta_btns {
    margin-top: 2rem;
}

.cta_btns .buy, .cta_btns .explore {
    padding: 8px 50px;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #cccccc;
}

.cta_btns .buy {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 2rem;
}


.content_img {
    width: 100%;
    /* height: 50%; */
    position: relative;
}

.content_img img {
    /* flex: 1; */
    /* background-color: red; */
    width: 110%;
    height: 43rem;
    border: none;
    position: absolute;
    top: -0.5rem;
    right: -3rem;
    object-fit: cover;
}

/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .slider_container {
        width: 100%;
        /* height: 120vh; */
        background-color: #2e2d2d;
    }
        
    .arrow {
        bottom: -12rem;
        width: 65px;
        height: 65px;
    }

    .arrow_icon {
        font-size: 2.7rem;
    }

    .social {
        bottom: 12rem;
    }

    .social ul li a {
        font-size: 2.1rem;
    }

    .slide {
        width: 100vw;
        height: 120vh;
    }
    
    .contents {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }
    

    .content {
        margin-top: 5rem;
    }
   
    .content .title1 {
        font-size: 1.5rem;
    }

    .content .title2 {
        font-size: 3.6rem;
    }

    .content .price {
        font-size: 2.5rem;
    }

    .content .des {
        font-size: 1.6rem;
        width: 100%;
    }

    .cta_btns {
        margin-top: 2rem;
    }

    .cta_btns .buy, .cta_btns .explore {
        padding: 12px 60px;
        font-size: 1.5rem;
    }

    .cta_btns .buy {
        margin-right: 2rem;
    }

        
    .content_img {
        width: 100%;
        /* height: 50%; */
        position: relative;
    }

    .content_img img {
        /* flex: 1; */
        /* background-color: red; */
        width: 110%;
        height: 43rem;
        border: none;
        position: absolute;
        top: -3rem;
        right: 0;
        object-fit: contain;
    }


}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .slider_container {
        height: 135vh;
        background-color: #1c1c1c;
    }
    
        
    .arrow {
        width: 60px;
        height: 60px;
        bottom: -13rem;
    }

    .arrow2 {
        right: 10px;
    }
    
    
    .arrow1 {
        left: 10px;
        z-index: 2;
    }


    .arrow_icon {
        font-size: 2.7rem;
    }

    .social {
        bottom: 7rem;
    }

    .social ul li a {
        font-size: 1.7rem;
    }


    .slide {
        width: 100vw;
        height: 130vh;
    }
    
    .contents {
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    .content {
        margin-top: 1rem;
    }

        
    .content .title1 {
        font-size: 1.1rem;
    }

    .content .title2 {
        font-size: 2rem;
    }

    .content .price {
        font-size: 2rem;
    }

    .content .des {
        font-size: 1.2rem;
        width: 100%;
    }

    .cta_btns {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin-top: 2rem;
    }

    .cta_btns .buy, .cta_btns .explore {
        padding: 12px 32px;
        font-size: 1.2rem;
    }

    .cta_btns .buy {
        margin-right: 1rem;
    }

        
    .content_img {
        width: 100%;
        /* height: 50%; */
        position: relative;
    }

    .content_img img {
        width: 150%;
        height: 42rem;
        border: none;
        position: absolute;
        top: -6.5rem;
        right: -5.5rem;
        object-fit: contain;
    }

}