.widgetSm {
    -webkit-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
    -moz-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
    box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
    padding: 20px;
    /* margin-right: 20px; */
}

.widgetSmTitle {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 550;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}

.widgetSmImg {
    width: 20px;
    height: 20px;
    font-weight: normal;
}

.widgetSmList {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem {
    display: grid;
    grid-template-columns: 2rem 2fr 1rem;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}

/* .widgetSmUser {
    background-color: red;
} */

.widgetSmUsername {
    font-weight: normal;
}

.widgetSmUserTitle {
    font-weight: 300;
}

.widgetSmButton {
    color: #262626;
    cursor: pointer;
}

.widgetSmIcon {
    font-size: 16px !important;
    margin-right: 5px;
}