.widgetLg {
    -webkit-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
        -moz-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
        box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
    padding: 20px;
}

.widgetLgTitle {
    font-size: 1.2rem;
    font-weight: 550;;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}

.widgetLgTable {
    width: 100%;
    /* border-spacing: 20px; */
}

.widgetLgTable .head {
    display: grid;
    grid-template-columns: 0.57fr 0.6fr 0.7fr 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.widgetLgTable .head p {
    font-weight: 550;
    font-size: 1rem;
}

.widgetLgTable .t_row {
    display: grid;
    grid-template-columns: 0.6fr 0.7fr 7rem 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #fbfbfb;
    padding-bottom: 10px;
}

.widgetLgTable .t_row p {
    font-weight: normal;
    font-size: 1rem;
}



.widgetLgTable .success_, .widgetLgTable .danger_, .widgetLgTable ._pending_ {
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem !important;
}
