.widgetLg {
    -webkit-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
        -moz-box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
        box-shadow: 1px 2px 14px 9px rgba(247, 247, 247, 0.61);
    padding: 20px;
}

.widgetLgTitle {
    font-size: 1.2rem;
    font-weight: 550;;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}

.tablet_view {
    display: none;
}

.widgetLgTable {
    width: 100%;
    /* border-spacing: 20px; */
}

.widgetLgTable .head {
    display: grid;
    grid-template-columns: 0.57fr 0.6fr 0.7fr 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.widgetLgTable .head p {
    font-weight: 550;
    font-size: 1rem;
}

.widgetLgTable .t_row {
    display: grid;
    grid-template-columns: 0.6fr 0.7fr 7rem 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #fbfbfb;
    padding-bottom: 10px;
}

.widgetLgTable .t_row p {
    font-weight: normal;
    font-size: 1rem;
}



.widgetLgTable .success_, .widgetLgTable .danger_, .widgetLgTable ._pending_ {
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem !important;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .widgetLgTitle {
        font-size: 1.9rem;
        font-weight: 500;
        border-bottom: 1.7px solid #cecece;
    }

    .tablet_view {
        display: block;
    }

    .widgetLgTable {
        display: none;
    }

    .tablet_view .head {
        display: grid;
        grid-template-columns: 0.55fr 0.4fr 0.45fr 0.9fr;
        gap: 20px;
        border-bottom: 1.7px solid #cecece;
        padding-bottom: 10px;
    }

    .tablet_view .head p {
        font-weight: 500;
        font-size: 1.65rem;
    }

    .tablet_view .t_row {
        display: grid;
        grid-template-columns: 0.6fr 0.5fr 8.5rem 0.9fr;
        border-bottom: 1.7px solid #fbfbfb;
        padding-bottom: 10px;
    }

    .tablet_view .t_row p {
        font-weight: normal;
        font-size: 1.4rem;
    }



    .tablet_view .success_,
    .tablet_view .danger_,
    .tablet_view ._pending_ {
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 0.9rem !important;
    }
}