.signin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 45vw; */
    margin-top: 5.5rem;
}


.logo__ {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0;
}

.logo__ h2 {
    margin-left: 5px;
    font-size: 2rem;
    font-weight: 550;
}

.logo__ .shop_icon {
    font-size: 1.8rem;
}

.msg {
    margin: 10px 0;
    width: 100%;
    background-color: #ef5858;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

.login_form {
    width: 28rem;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 2.5px #b5b4b4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.login_form h2 {
    font-weight: 550;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: #2a2a2a;
}

.login_form input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 10px 0;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #545353;
    outline: none;
}

.login_form #signin {
    background-color: #18273a;
    padding: 9px 0;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in;
    outline: none;
    margin: 0.5rem 0 0 0;
}

.login_form #signin:hover {
    background-color: #030e21;
}

.caution {
    font-size: 1.05rem;
    color: #545353;
}

.info {
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}

.info .link {
    text-decoration: none;
    color: #3b3b3b;
}

.info .link:hover {
    color: #1b1b1b;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .signin_container {
        width: 85vw;
        margin: 3rem auto;
    }
    
    h2 {
        font-size: 2.2rem;
    }

    .head {
        margin-bottom: 10px;
    }

    input {
        font-size: 1.6rem;
    }

    #signin {
        padding: 13px 0;
        font-size: 1.7rem;
    }

    .form .info {
        font-size: 1.7rem;
    }

    
}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .signin_container {
        width: 80vw;
        margin: 3rem auto;
    }
    
    h2 {
        font-size: 2rem;
    }

    .head {
        margin-bottom: 10px;
    }

    input {
        font-size: 1.4rem;
    }

    #signin {
        padding: 10px 0;
        font-size: 1.4rem;
    }

    .form .info {
        font-size: 1.4rem;
    }
    
}