* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #fffffff6; */
  background-color: #f3f3f3f6;
  position: relative;
}

/* .home {
  background-color: #f3f3f3f6;
} */

.main {
  position: relative;
  width: 100%;
  margin: -20rem 0 2rem 0;
  z-index: 100%;
}

.main_container {
  width: 90vw;
  margin: 0 auto;
  /* background-color: red; */
  overflow: hidden;
  transition: all .3s ease;
}

/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
  .main_container {
    width: 90vw;
  }

}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
  .main {
    margin: -10rem 0 2rem 0;
  }

  .main_container {
    width: 90vw;
  }
}