* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #fffffff6; */
  background-color: #f7f7f7;
  position: relative;
}

/* .home {
  background-color: #f3f3f3f6;
} */

.main {
  position: relative;
  width: 100%;
  margin: -15rem 0 2rem 0;
  z-index: 100%;
  border: none;
  outline: none;
}

.main_container {
  width: 90vw;
  margin: 0 auto;
  /* background-color: red; */
  overflow: hidden;
  transition: all .3s ease;
}

.main_container_ {
  width: 98vw;
  margin: 5px auto;
  background-color: #fefefe;
}


.admin_container {
  background-color: white;
  margin-top: 5px;
}

.admin_container .container_contents{
  flex: 3.8;
  height: 100%;
  padding: 1rem 2rem 1rem 0;
}




/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
  .main {
    position: relative;
    width: 100%;
    margin: -15rem 0 2rem 0;
    z-index: 100%;
    border: none;
    outline: none;
  }

  .admin_container .container_contents {
    flex: 4;
    min-height: 100%;
    padding: 1rem 5px 1rem 0;
  }

}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
  .main {
    margin: -10rem 0 2rem 0;
  }

  .main_container {
    width: 90vw;
  }

  .main_container_ {
    width: 98vw;
    margin: 5px auto;
    background-color: #fefefe;
  }
}